@{
    ViewData["Title"] = "Books";
}

<div id="books" class="col-12 d-flex flex-column align-items-center">
    <h2>Drag to Reorder</h2>

    <button type="button" class="button primary my-3" data-bs-toggle="modal" data-bs-target="#addBook">Add
        Book</button>

    <ul id="book-list" class="col-6 p-0">
        @foreach (var book in Model)
        {
            <li class="book-item text-center p-2" data-id="@book.Id" draggable="true">
                <a asp-controller="BookPage" asp-action="Details" asp-route-id="@book.Id">
                    @book.Title
                </a>
            </li>
        }
    </ul>

    <div class="modal fade" id="addBook" tabindex="-1" aria-labelledby="addBookLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addBookLabel">Add Book</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-0">
                    <form id="create-book-form">
                        <div class="mb-3">
                            <label for="Title" class="form-label">Title</label>
                            <input id="title" name="Title" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label for="Author" class="form-label">Author</label>
                            <input id="author" name="Author" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label for="PriorityIndex" class="form-label">Select Placement</label><br>
                            <select name="PriorityIndex" id="priorityIndex">
                                <option value="0">Beginning</option>
                                @foreach (var book in Model)
                                {
                                    <option value="@(book.PriorityIndex + 1)">
                                        After @book.Title
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button id="add-book" type="submit" class="button success">Save Book</button>
                            <button id="close-book-modal" type="button" class="button secondary"
                                data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/book.js"></script>
}